body {
  font-family: 'Roboto Slab', sans-serif;
  background: #e6ecf1;
  color: #484848;
  padding: 40px;
}

input {
    display: block;
    padding: 10px;
    border-bottom: 2px solid #cfcfcf;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    outline: none;
    text-align: center;
}

.displayErrors input:invalid {
  border-color: #f73772;
}

pre, code {
  font-family: 'Roboto Mono', Monaco;
}

button {
  cursor: pointer;
  padding: 12px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  outline: none;
  color: #1DA1F2;
  border: 1px solid #1DA1F2;
  border-radius: 31px;
  width: 210px;
}

button:hover {
    background-color: #E8F5FD;
}

form {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
}

.res-block {
  display: inline-block;
}

h3 {
  margin-top: 0;
}

label {
   color: #657786;
   display: block;
   text-align: center;
   margin-bottom: 15px;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  animation: bounce 0.5s;
  transform-origin: center bottom;
}

#app {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 600px;
    background: white;
    padding: 12px;
    border-radius: 8px;
}

.title {
    font-size: 63px;
    margin-bottom: 40px;
}
.logo {
    height: 78px;
    width: 93px;
}

.title-bar {
    display: flex;
    flex-flow: row;
}

.username-input {
    position: relative;
}

.at-sign {
    position: relative;
    top: 33px;
    left: -22px;
    font-size: 21px;
    color: #64768e;
}
